@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Open+Sans+Condensed:wght@300&display=swap');

/* -------- */
/* custom properties */
/* -------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    /* colors  */
    --clr-white: 0 0% 100%;
    --clr-violet: 263 55% 52%;
    --clr-grayishBlue: 217 19% 35%;
    --clr-blackishBlue: 219 29% 14%;
/* font colors  */
    --clr-gray: 0 0% 81%;
    --clr-lightGrayBlue: 210 46% 95%;
/* font families & size  */
 --ff-barlow:'Barlow Condensed', sans-serif;
 --fs-600:1.6rem;
 --fs-500:1.3rem
}
/* image reset  */
img {
    max-width: 100%;
}
section {
 display: flex;
 height: 100vh;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 5rem;
}
/* creating the testimonial gallery */
.testimonial-gallery {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: 
    'daniel-content daniel-content jonathon-content kira-content'
    'jeanette-content patrick-content patrick-content kira-content'
    ;
}
.daniel-content {
    grid-area: daniel-content;
}
.jonathon-content {
    grid-area: jonathon-content;
}
.kira-content {
    grid-area: kira-content;
    min-height: 50rem;
}
.jeanette-content {
    grid-area: jeanette-content;
}
.patrick-content {
    grid-area: patrick-content;
}
/* -------- */
/* utility classes */
/* -------- */

.flex {
    display: flex;
    align-items: center;

}
img {
    border-radius: 50%;
    border:2px solid hsl(var(--clr-white));
    margin-right: 2rem;

}
.mg-bottom {
    margin-bottom: 2rem;
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-500 {
    font-size:var(--fs-500) ;
}
.ff-barlow {
    font-family: var(--ff-barlow);
}
.line-height-1 {
line-height:2rem;
}

.daniel-content {
    background-color: hsl(var(--clr-violet))
}
.kira-content {
    background-color: wheat;
}
